@font-face {
   font-family: "Gotham bold";
   src: url(../../fonts/gothambold1.woff);
}
@font-face {
   font-family: "Gotham mediun";
   src: url(../../fonts/gotham-medium-webfont.woff);
}
@font-face {
   font-family: "Gotham book";
   src: url(../../fonts/GothamBook.woff);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
