@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "Gotham bold";
  src: url(../../fonts/gothambold1.woff);
}

@font-face {
  font-family: "Gotham mediun";
  src: url(../../fonts/gotham-medium-webfont.woff);
}

@font-face {
  font-family: "Gotham book";
  src: url(../../fonts/GothamBook.woff);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}

*:focus {
  outline: none;
}

.button {
  width: 191px;
  height: 51px;
  display: block;
  border: 1px solid #2c4058;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Gotham book";
  font-weight: 700;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 183, 255, 0.5)), to(rgba(126, 90, 255, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(85, 183, 255, 0.5), rgba(126, 90, 255, 0.5));
  background-image: -o-linear-gradient(left, rgba(85, 183, 255, 0.5), rgba(126, 90, 255, 0.5));
  background-image: linear-gradient(to right, rgba(85, 183, 255, 0.5), rgba(126, 90, 255, 0.5));
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 15px #55b7ff;
          box-shadow: 0 0 15px #55b7ff;
  border-radius: 40px 0;
}

.button:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 183, 255, 0.5)), to(rgba(126, 90, 255, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(85, 183, 255, 0.5), rgba(126, 90, 255, 0.5));
  background-image: -o-linear-gradient(left, rgba(85, 183, 255, 0.5), rgba(126, 90, 255, 0.5));
  background-image: linear-gradient(to right, rgba(85, 183, 255, 0.5), rgba(126, 90, 255, 0.5));
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 15px #55b7ff;
          box-shadow: 0 0 15px #55b7ff;
  border-radius: 40px 0;
}

.social__link {
  display: inline-block;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 15px;
  margin-left: 20px;
}

.social__link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: bolder;
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
}

.social__link:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: bolder;
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
  outline: none;
  border-radius: 50%;
}

.logo {
  fill: #ffffff;
  padding: 10px;
  border-radius: 50%;
}

.logo:hover {
  -webkit-transform: rotate(-10deg) scale(1.2);
      -ms-transform: rotate(-10deg) scale(1.2);
          transform: rotate(-10deg) scale(1.2);
  -webkit-box-shadow: 0 0 15px #ffffff;
          box-shadow: 0 0 15px #ffffff;
  background-image: -webkit-radial-gradient(rgba(85, 183, 255, 0.5), rgba(85, 183, 255, 0.5), rgba(255, 255, 255, 0.8));
  background-image: -o-radial-gradient(rgba(85, 183, 255, 0.5), rgba(85, 183, 255, 0.5), rgba(255, 255, 255, 0.8));
  background-image: radial-gradient(rgba(85, 183, 255, 0.5), rgba(85, 183, 255, 0.5), rgba(255, 255, 255, 0.8));
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/header.png);
  background-size: cover;
}

.header__container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 183, 255, 0.9)), to(rgba(126, 90, 255, 0.9)));
  background-image: -webkit-linear-gradient(left, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
  background-image: -o-linear-gradient(left, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
  background-image: linear-gradient(to right, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
}

.title {
  font-family: "Gotham bold";
  text-transform: uppercase;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  margin-top: 220px;
}

.subtitle {
  font-family: "Gotham book";
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: normal;
  letter-spacing: 3px;
}

.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 229px auto 0 auto;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.header__arrow:hover {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.nav__container {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__list .nav__item a {
  color: #ffffff;
  font-family: "Gotham book";
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 0 40px;
}

.nav__list .nav__item a .circle {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 14px;
}

.nav__list .nav__item a:hover {
  text-shadow: 0 0 10px #ffffff;
}

.nav__list .nav__item a:hover .circle {
  background-color: #ffffff;
}

.nav__list .nav__item a:focus {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  text-shadow: 0 0 10px #ffffff;
}

.nav__list .nav__item:nth-child(3) a {
  border-radius: 40px;
}

.nav__list .nav__item:nth-child(4) a {
  border-radius: 40px 0;
}

.nav__list .nav__item:nth-child(5) a {
  border-radius: 40px 0;
}

.projects {
  width: 100%;
  margin-bottom: 100px;
}

.projects__separator {
  width: 101px;
  border-bottom: 2px solid #2c4058;
  padding-top: 97px;
  margin: 0 auto;
}

.projects__title {
  color: #2c4058;
  font-size: 44px;
  text-align: center;
  margin-top: 40px;
  font-family: "Gotham bold";
  text-transform: uppercase;
}

.projects-item__container {
  margin-top: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-item__container:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects-image__container1 {
  width: 586px;
  height: 471px;
  background-color: #55b7ff;
}

.projects-image__container2 {
  width: 586px;
  height: 471px;
  background-color: #7e5aff;
}

.projects-image__wrapper1 {
  width: 586px;
  height: 471px;
  overflow: hidden;
  -webkit-transform: translate(214px, 70px);
      -ms-transform: translate(214px, 70px);
          transform: translate(214px, 70px);
}

.projects-image__wrapper2 {
  width: 586px;
  height: 471px;
  overflow: hidden;
  -webkit-transform: translate(-214px, 70px);
      -ms-transform: translate(-214px, 70px);
          transform: translate(-214px, 70px);
}

.projects__image {
  width: 100%;
  height: auto;
}

.projects-text__wrapper {
  margin-left: 330px;
}

.projects-text__wrapper:last-child {
  margin-right: 330px;
}

.projects__subtitle {
  color: #2c4058;
  font-family: "Gotham bold";
  margin-top: 131px;
  font-size: 44px;
  text-transform: uppercase;
}

.projects__subtitle .subtitle__uppertext {
  font-size: 22px;
  font-family: "Gotham book";
}

.projects__text {
  color: #4b5562;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  font-size: 18px;
  width: 460px;
  margin: 39px 0;
  height: 80px;
  overflow: hidden;
}

.projects__location {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 18px;
  margin-top: 60px;
}

.news {
  width: 100%;
  height: 110vh;
  background-color: black;
  background-image: url(../../images/newsbackground.png);
  background-size: auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

.news__container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(18, 62, 206, 0.9)), to(rgba(23, 190, 241, 0.9)));
  background-image: -webkit-linear-gradient(left, rgba(18, 62, 206, 0.9), rgba(23, 190, 241, 0.9));
  background-image: -o-linear-gradient(left, rgba(18, 62, 206, 0.9), rgba(23, 190, 241, 0.9));
  background-image: linear-gradient(to right, rgba(18, 62, 206, 0.9), rgba(23, 190, 241, 0.9));
}

.news__separator {
  display: block;
  width: 101px;
  border-bottom: 2px solid #ffffff;
  padding-top: 140px;
  margin: 0 auto;
}

.news__title {
  text-align: center;
  font-size: 44px;
  color: #ffffff;
  font-family: "Gotham mediun";
  text-transform: uppercase;
  margin-top: 40px;
}

.news-slide__wrapper {
  width: 371px;
  height: 515px;
  background-color: #fff;
  margin: 0;
}

.news-slide__wrapper .news-image__wrapper {
  width: 100%;
  height: 243px;
  overflow: hidden;
}

.news-slide__wrapper .news-image__wrapper .news__image1,
.news-slide__wrapper .news-image__wrapper .news__image3,
.news-slide__wrapper .news-image__wrapper .news__image4 {
  -webkit-transform: translateY(-150px);
      -ms-transform: translateY(-150px);
          transform: translateY(-150px);
}

.news-slide__wrapper .news-slide__title {
  color: #2c4058;
  font-family: "Gotham bold";
  font-size: 22px;
  text-transform: uppercase;
  margin: 30px 22px;
}

.news-slide__wrapper .news-slide__text {
  color: #4b5562;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.8px;
  max-height: 50px;
  overflow: hidden;
  margin: 20px 30px 34px 21px;
}

.news-slide__wrapper .news-slide__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.news-slide__wrapper .news-slide__contact .contact__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.news-slide__wrapper .news-slide__contact .contact__text-wrapper {
  margin-left: 20px;
}

.news-slide__wrapper .news-slide__contact .contact__name {
  color: #2c4058;
  font-size: 18px;
  font-family: "Gotham book";
  font-weight: bolder;
  text-transform: uppercase;
}

.news-slide__wrapper .news-slide__contact .contact__date {
  margin-top: 14px;
  color: #55b7ff;
  font-size: 14px;
  font-family: "Gotham book";
  font-weight: bolder;
}

.news__slider {
  max-width: 1580px;
}

.news__slider .news__swiper-wrapper {
  max-width: 1400px;
}

.news__slider .news-slide__wrapper {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

.news__slider .swiper-button-next,
.news__slider .swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(119, 54, 54, 0.2)));
  background-image: -webkit-linear-gradient(rgba(119, 54, 54, 0.2));
  background-image: -o-linear-gradient(rgba(119, 54, 54, 0.2));
  background-image: linear-gradient(rgba(119, 54, 54, 0.2));
  -webkit-box-shadow: 0 0 5px #000000;
          box-shadow: 0 0 5px #000000;
}

.news__slider .swiper-button-next::after,
.news__slider .swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
}

.news__slider .swiper-button-next:focus, .news__slider .swiper-button-next:hover,
.news__slider .swiper-button-prev:focus,
.news__slider .swiper-button-prev:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(85, 183, 255, 0.5)));
  background-image: -webkit-linear-gradient(rgba(85, 183, 255, 0.5));
  background-image: -o-linear-gradient(rgba(85, 183, 255, 0.5));
  background-image: linear-gradient(rgba(85, 183, 255, 0.5));
  -webkit-box-shadow: 0 0 5px #55b7ff;
          box-shadow: 0 0 5px #55b7ff;
}

.news__slider .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  border: 3px solid #55b7ff;
  background-color: #ffffff;
}

.news__slider .swiper-pagination-bullet:focus, .news__slider .swiper-pagination-bullet:hover {
  background-color: #55b7ff;
  border: 3px solid #ffffff;
}

.gallery {
  width: 100%;
  min-height: 100vh;
}

.gallery__separator {
  width: 101px;
  border-bottom: 2px solid #2c4058;
  padding-top: 97px;
  margin: 0 auto;
}

.gallery__title {
  color: #2c4058;
  font-size: 44px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 99px;
  font-family: "Gotham bold";
  text-transform: uppercase;
}

.gallery__button {
  margin: 100px auto 140px auto;
}

.gallery__wrapper {
  width: 1200px;
  height: 453px;
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__wrapper .gallery__big-image {
  margin: 5px;
  width: 582px;
  height: 440px;
}

.gallery__wrapper .gallery__small-image__wrapper {
  width: 592px;
  height: 453px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__wrapper .gallery__small-image__wrapper .gallery__small-image {
  width: 286px;
  height: 215px;
  overflow: hidden;
  margin: 5px;
}

.gallery__wrapper .gallery__image {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: relative;
}

.map {
  width: 100%;
  height: 703px;
}

.footer__container {
  background-image: url(../../images/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__wrapper {
  width: 100%;
  height: 524px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 183, 255, 0.9)), to(rgba(126, 90, 255, 0.9)));
  background-image: -webkit-linear-gradient(left, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
  background-image: -o-linear-gradient(left, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
  background-image: linear-gradient(to right, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
}

.footer__wrapper .footer__content-wrapper {
  width: 771px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 165px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper .footer__content-wrapper .footer-text__wrapper {
  margin-top: 42px;
}

.footer__wrapper .footer__content-wrapper .footer__text {
  font-family: "Gotham book";
  color: #ffffff;
  font-style: 14px;
}

.footer__wrapper .footer__content-wrapper .footer__separator {
  display: inline-block;
  width: 2px;
  height: 21px;
  margin: 0 21px;
  background-color: #fff;
}

.form__window {
  width: 771px;
  height: 451px;
  background-color: #fff;
  position: absolute;
  top: 401px;
  left: calc(50% - 385px);
}

.form__separator {
  width: 101px;
  border-bottom: 2px solid #2c4058;
  padding-top: 60px;
  margin: 0 auto;
}

.form__title {
  font-size: 44px;
  text-align: center;
  margin-top: 40px;
  font-family: "Gotham bold";
  text-transform: uppercase;
  color: #2c4058;
}

.form__wrapper {
  margin: 59px 110px 0 61px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__wrapper .form__text {
  color: #2c4058;
  font-size: 18px;
  font-family: "Gotham book";
  margin-bottom: 25px;
  font-weight: bolder;
}

.form__wrapper .form__text .form__icon {
  color: #7e5aff;
}

.form__wrapper .form-input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.form__wrapper .form-input__wrapper .form__input {
  display: block;
  width: 311px;
  background-color: #fff;
  border: none;
  border-radius: 20px 0;
  border-bottom: 2px solid #4b5562;
  font-family: "Gotham book";
  font-size: 18px;
  margin-bottom: 25px;
  padding: 4px 15px 13px 15px;
}

.form__wrapper .form-input__wrapper .form__input::-webkit-input-placeholder {
  color: #4b5562;
}

.form__wrapper .form-input__wrapper .form__input:-ms-input-placeholder {
  color: #4b5562;
}

.form__wrapper .form-input__wrapper .form__input::-ms-input-placeholder {
  color: #4b5562;
}

.form__wrapper .form-input__wrapper .form__input::placeholder {
  color: #4b5562;
}

.form__wrapper .form-input__wrapper .form__input:focus {
  color: #2c4058;
  border-bottom: 2px solid #2c4058;
}

.form__wrapper .form-input__wrapper .form__input:valid {
  background-image: url(../../images/donebutton.png), -webkit-gradient(linear, left top, right top, from(rgba(154, 233, 151, 0.2)), to(rgba(9, 90, 2, 0.2)));
  background-image: url(../../images/donebutton.png), -webkit-linear-gradient(left, rgba(154, 233, 151, 0.2), rgba(9, 90, 2, 0.2));
  background-image: url(../../images/donebutton.png), -o-linear-gradient(left, rgba(154, 233, 151, 0.2), rgba(9, 90, 2, 0.2));
  background-image: url(../../images/donebutton.png), linear-gradient(to right, rgba(154, 233, 151, 0.2), rgba(9, 90, 2, 0.2));
  background-repeat: no-repeat;
  background-position: right;
}

.form__wrapper .form-input__wrapper .form__input:focus:valid {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(154, 233, 151, 0.2)), to(rgba(9, 90, 2, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(154, 233, 151, 0.2), rgba(9, 90, 2, 0.2));
  background-image: -o-linear-gradient(left, rgba(154, 233, 151, 0.2), rgba(9, 90, 2, 0.2));
  background-image: linear-gradient(to right, rgba(154, 233, 151, 0.2), rgba(9, 90, 2, 0.2));
}

.form__wrapper .form-input__wrapper .form__input:focus:invalid {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(233, 151, 151, 0.2)), to(rgba(90, 2, 2, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(233, 151, 151, 0.2), rgba(90, 2, 2, 0.2));
  background-image: -o-linear-gradient(left, rgba(233, 151, 151, 0.2), rgba(90, 2, 2, 0.2));
  background-image: linear-gradient(to right, rgba(233, 151, 151, 0.2), rgba(90, 2, 2, 0.2));
}

.form__wrapper .form-input__wrapper .form__button-label {
  display: block;
  margin-left: 171px;
  width: 141px;
}

.form__wrapper .form-input__wrapper .form__button {
  width: 141px;
}

.slider__bullets {
  position: fixed;
  top: 35%;
  right: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
  border-radius: 50%;
  border: 3px solid #55b7ff;
}

.active {
  background-color: #ffffff;
}
